{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "node": "6.9"
      }
    }]
  ],
  "env": {
    "testing": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
