{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "node": "8.9"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "8.9"
          }
        }]
      ],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}